.App {
  text-align: center;
}
.App h1 {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  display: inline-block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: rgb(100, 149, 237);
  box-shadow: 0 0 10px #ccc;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:active {
  color: rgb(100, 149, 237, 0.4); 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
